body {
    padding-top: 58px;
    padding-bottom: 40px;
    line-height:1.4;
    margin:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#333;
    background-color:#FFF;
}
table{
    border-spacing: 0;
    padding: 0;
}
a {
    color: #006dcc;
}
.left_nav a {
    text-decoration: none;
}
input{
    padding:5px;
    border:1px solid #AAA;
    margin-left:0;
}
li{list-style: none;}
div.container .brand {
    margin: 3px 0 0 -10px;
}
.navbar .nav>li>a{
	padding:15px;
	color: #CCC;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	text-decoration: none;
	float:none;
    font-size:14px;
}
.navbar .nav>li>a:hover{
    color: #FFF;
}
.navbar .nav>li{
	float: left;
}
.navbar-fixed-top, .navbar-fixed-bottom{
	position:fixed;
	right:0;
	left:0;
	z-index:1030;
	margin-bottom:0;
}
.navbar-fixed-top{
	top:0;
}
.navbar-inner{
	background-color:#1B1B1B;
	min-height: 58px;
}
.navbar-inner:before, .navbar-inner:after {
	display: table;
	line-height: 0;
	content: "";
}
.navbar .nav{
	margin:16px 0 20px 0;
	list-style: none;
	float:right;
}
.container:after {
	clear: both;
}
.navbar{
	overflow:visible;
}
.content, .container{
	width:953px;
	margin-left:auto;
	margin-right:auto;
}
.content .left_col{
	width:219px;
    padding:10px;
	float:left;
}
.content .center_col{
	background-color:#FFF;
	border-left:1px solid #BBB;
	border-right:1px solid #BBB;
	box-shadow: 0 -1px 7px rgba(0,0,0,.3);	
	height:100%;
	width:730px;
	margin-left:221px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.content{
	border:1px solid #CCC;
	background-color:#F7F7F7;
}
.left_col .left_nav{
	list-style:none;
	margin:0;
	background: #F7F7F7;	
}
.left_col .left_nav li{
	padding:10px 20px;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	font: 15px/100% Arial,"Times New Roman",serif;
	font-weight:bold;
	color: #777;
	border-top: solid 1px #FFF;
	border-bottom: solid 1px #DDD;
}
.left_col .left_nav li:hover{
	border-bottom: solid 1px #EEE;
	border-top: solid 1px #EEE;
	background: #EEE;
}
.r_content{
	padding:0;
	border-bottom:1px solid #DDD;
	overflow:hidden;
}
.r_content .my_top{padding:20px;border-bottom:1px solid #CCC;}
.r_content .rc_left{
	float:left;
	widht:220px;
}
.r_content .rc_left img{
	border-radius:3px;
}
.r_content .rc_right{
	margin-left:240px;
}
.r_content .rc_right .name{
	font-weight:bold;
	color:#007DC9;
}
.content .dcontent{
    padding:20px;
    min-height: 300px;
}
ul{
	padding:0;margin:0;
}
.gor_mnu_box{
	padding:10px 20px 0;
	margin-left:-10px;
	margin-right:-10px;
	box-shadow:inset 0 0 6px rgba(0,0,0,.2);
}
.gor_mnu {
	padding-left:15px;
}
.gor_mnu_li{
	margin:5px 5px 0;
	float:left;
	padding:2px 10px;
	border:1px solid #CCC;
	background-color:#FFF;
	border-radius:3px 3px 0 0;
	cursor:pointer;
	color:#999;
	font-weight:bold;
	border-bottom:0;
}
.gor_mnu_li:hover{
	color:#007DC9;
}
.gor_mnu_li_focus{
	margin:5px 5px 0;
	float:left;
	padding:2px 10px;
	border-radius:3px 3px 0 0;
	cursor:pointer;
	font-weight:bold;

	background-color:#007DC9;
	border:1px solid #306CB7;
	color:#FFF;
	border-bottom:0;
}
.geoTXT{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:5px 10px;
	border:1px solid #AAA;
	color:#222;
	border-radius: 12px;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,.1);
	outline: none;
    margin: 0 2px;
}

.button1, .button11, .button2, .button3, .button4, .button5, .buttonadm, .button_enter{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Tahoma, Helvetica, sans-serif;
	padding: 3px 7px 4px 7px;
	margin:5px 2px;
	line-height:150%;
	border-radius: 12px;
	border:1px solid #087fCf;
	outline-style:none;
}
.button1:hover {
	outline: none;
    color: #FFF;
    border: solid 1px #3373c3;
    background-color: #0085d6;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.button1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    color: #3373c3;
    border: solid 1px #bebebe;
    text-decoration: none;
    background-color: #ececec;
}
.button11:hover {
    outline: none;
    color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: solid 1px #3a82dc;
    background-color: #1c9dee;
}
.button11 {
    text-decoration: none;
    color: #FFF;
    border: solid 1px #3373c3;
    background-color: #0085d6;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.button2:hover {
    outline: none;
    color:#FFF;
    border: solid 1px #9d0400;
    background-color: #cd1000;
}
.button2 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    color: #dd0000;
    border: solid 1px #bebebe;
    text-decoration: none;
    background-color: #ececec;
}
.button3:hover {
    outline: none;
    color:#FFF;
    border: solid 1px #00a014;
    background-color: #00b411;
}
.button3 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    color: #00a112;
    border: solid 1px #bebebe;
    text-decoration: none;
    background-color: #ececec;
}
.button4:hover {
    outline: none;
    border: solid 1px #890100;
    background-color: #c30100;
}
.button4 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    color: #ffffff;
    border: solid 1px #9a0001;
    text-decoration: none;
    background-color: #ec0700;
    font-weight: bold;
    padding: 3px 19px 4px 19px;
}


.fl_r{float:right;}.fl_l{float:left;}

.a_fancy {
    width:202px;
}
.li_dish, .li_group, .li_add_group{
    padding:0 3px;
    /*border-radius: 12px;*/
    background-color: #EEE;
    /*border:1px solid #DDD;*/
    margin:0 3px;
}
.li_dish_deleted{
    background-color: #ff9c93;
}
.li_dish .txt_name, .li_group .txt_group, .li_add_group .txt_group {
    width:505px;
}
.li_dish .txt_cost {
    width:48px;
}
.li_group{
    margin:10px 3px 0;
    background-color: #BEB;
    border-radius: 12px 12px 0 0;
    /*border:1px solid #ADA;*/
}
.li_group .txt_group{
    font-weight: bold;
}
.li_add_group{
    margin:10px 3px 0;
    background-color: #F1F1F1;
    /*border:1px solid #E1E1E1;*/
}
.li_add_group .txt_group{
    font-weight: bold;
}
.calendar{
    padding:0;
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
}
.p10{
    padding:3px 10px;
}